<xml>
     <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
     <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
     <CreateTime><%= Time.now.to_i %></CreateTime>
     <MsgType><![CDATA[text]]></MsgType>
     <Content><![CDATA[请输入您的出发城市，目的城市，出发日期，回来日期，您的微信号：
举例：南京/三亚/0304/0314/kuailv
]]></Content>
     <FuncFlag>0</FuncFlag>
 </xml>

 <!--
 <xml>
 <ToUserName><![CDATA[<%#= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%#= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%#= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[找驴友]]></Title> 
 <Description><![CDATA[请输入您的出发城市，目的城市，出发日期，回来日期，您的微信号：
 举例：南京/三亚/0304/0314/kuailv
 	]]></Description>
 <PicUrl><![CDATA[http://www.productgaga.com/assets/kuailv-features.png]]></PicUrl>
 </item>

 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>
-->

