 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[找驴友]]></Title> 
 <Description><![CDATA[目前仅限内部朋友使用，尽请关注，开放后立刻通知您。]]></Description>
 <PicUrl><![CDATA[http://www.productgaga.com/assets/kuailv-features.png]]></PicUrl>
 <Url><![CDATA[http://www.productgaga.com/ideas/56]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>
