 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[结伴游，选快驴]]></Title> 
 <Description><![CDATA[快驴，最快的速度找到小伙伴，拼吃拼住出国玩。]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNapHgHfJaibg3KaZTjXVEcQdF75YHVZjOBF5uZXDJ3cwSc3tFZCOcJgHg/0]]></PicUrl>
 <Url><![CDATA[http://www.lvdazi.com/activities/qyer]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>