 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴,最快的方式,找到驴友,一起去旅行]]></Title> 
 <Description><![CDATA[朋友圈分享，立得现金红包！]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNapHgHfJaibg3KaZTjXVEcQdF75YHVZjOBF5uZXDJ3cwSc3tFZCOcJgHg/0]]></PicUrl>
 <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=211956753&idx=1&sn=73a5efaa701860a6c757acdf3e6829c1&key=fbe9f9f4b565962c491c8ec586594c7e97d3e73729a0c58841c5a41e542e09b652a76d4903403fd812c320e39ed7804d&ascene=0&uin=Njg3MjA0MTYw&devicetype=iMac+MacBookPro10%2C1+OSX+OSX+10.10.2+build(14C109)&version=11020012&pass_ticket=6YjSR7KvfpP8t1sIedKfn6uF9t3SOH4pYwnsgq35aYKNvoE9d0xxbfhlUMzjzXK6]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>