 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴使用说明]]></Title> 
 <Description><![CDATA[图文介绍，不耗流量]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNapHgHfJaibg3KaZTjXVEcQdF75YHVZjOBF5uZXDJ3cwSc3tFZCOcJgHg/0]]></PicUrl>
 <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=212750243&idx=1&sn=086a1a3c5691c30598faa50cae5c18e8&key=fbe9f9f4b565962c467a79330ecb7b719e8045cd3091c681bf15a6780dc7bfd258c53c025f0e06d0698b884e2c3e686b&ascene=0&uin=Njg3MjA0MTYw&devicetype=iMac+MacBookPro10%2C1+OSX+OSX+10.10.2+build(14C109)&version=11020012&pass_ticket=iGoNYAUEjU73VPfFXkwWwv3K48lyhkPva%2FS%2BJUl%2F3B%2FdPxFJsiN6RPDFfSQV9NW6]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>