 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴使用说明]]></Title> 
 <Description><![CDATA[视频介绍，简单易懂]]></Description>
 <PicUrl><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=211229480&idx=1&sn=8cdad6d5dbffcd3b6ea27d82dc202f12&key=8ea74966bf01cfb6230d7f3e65b531b1e4347b3e8a176a1a5bd1ca16097799fb815f76228d5a4d7ece55a7dc706f869d&ascene=0&uin=Njg3MjA0MTYw&devicetype=iMac+MacBookPro10%2C1+OSX+OSX+10.10.2+build(14C109)&version=11020012&pass_ticket=%2FPAng0CcDu4fWJDAc%2FDG7a1RUX3p5ISuHPON36HiIn63YqoNXnYSMyxE%2BtgE%2F4RB]]></PicUrl>
 <Url><![CDATA[http://v.qq.com/page/m/m/p/m0147pnj5mp.html]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>