 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴使用说明]]></Title> 
 <Description><![CDATA[视频介绍，简单易懂]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNaSmZIVXeveP24LfMkDUCnnicicXibGUwrbB0OHuYkVO9jKialglXicS7I4TQ/0]]></PicUrl>
 <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=211956753&idx=1&sn=73a5efaa701860a6c757acdf3e6829c1&key=8ea74966bf01cfb6bda4271900d2ea79817725c9132b4ac24c72505fd96d7faba8c57f268fda769d18ea941bd8d39080&ascene=0&uin=Njg3MjA0MTYw&devicetype=iMac+MacBookPro10%2C1+OSX+OSX+10.10.2+build(14C109)&version=11020012&pass_ticket=V%2B5GpX%2Fc7hvfXtdEkli1Izvcb3pew1cqOZg92yU4GevpiKS1lLr%2BOFTEkkQ2c2qw]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>