 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴,你得尽快实现我说的这个！]]></Title> 
 <Description><![CDATA[每周抽奖5位驴友，奖励20元话费，感谢！]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41UicHhEaGQcNVl1LjXINOU9iaNhjaDpaPq2TMLsrFBKUZ0736HprE7P7iabfaTM3pCdsic7OZTgiahDMVA/0]]></PicUrl>
 <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=211216696&idx=1&sn=45f28bf48ecffee817d263033dad007e#rd]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>