 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[南京的朋友有福了]]></Title> 
 <Description><![CDATA[我们将为您组织一场说走就走的出国旅行！]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNaSmZIVXeveP24LfMkDUCnnicicXibGUwrbB0OHuYkVO9jKialglXicS7I4TQ/0]]></PicUrl>
 <Url><![CDATA[http://eqxiu.com/s/7w9F3AUX]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>