<xml>
<ToUserName><![CDATA[toUser]]></ToUserName>
<FromUserName><![CDATA[fromUser]]></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType><![CDATA[video]]></MsgType>
<Video>
<MediaId><![CDATA[211229480]]></MediaId>
<Title><![CDATA[快驴使用介绍]]></Title>
<Description><![CDATA[视频介绍，简单易懂]]></Description>
</Video> 
</xml>