 <xml>
 <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
 <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
 <CreateTime><%= Time.now.to_i %></CreateTime>
 <MsgType><![CDATA[news]]></MsgType>
 <ArticleCount>1</ArticleCount>
 <Articles>

 <item>
 <Title><![CDATA[快驴使用说明]]></Title> 
 <Description><![CDATA[图文介绍，不耗流量]]></Description>
 <PicUrl><![CDATA[https://mmbiz.qlogo.cn/mmbiz/PepP9fYY41VgrH6ufZ9vHXWqhsBAqCNapHgHfJaibg3KaZTjXVEcQdF75YHVZjOBF5uZXDJ3cwSc3tFZCOcJgHg/0]]></PicUrl>
 <Url><![CDATA[http://mp.weixin.qq.com/s?__biz=MzAwNjIzMjQ4NA==&mid=212458060&idx=1&sn=f69b488fd7b58397bfce78a9b780ae8f#rd]]></Url>
 </item>


 </Articles>
 <FuncFlag>1</FuncFlag>
 </xml>