
<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th>all </th>
      <th>L1 rate</th>
      <th>L2 rate</th>
      <th>L3 rate</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td><%#= @totalnum %></td>
      <td><%#= @l1rate %></td>
      <td><%#= @l2rate %></td>
      <td><%#= @l3rate %></td>

    </tr>

</table>

<br>

