
<p id="notice"><%= notice %></p>

<h1>新浪微博</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th>日期</th>
      <th>接触人数</th>
      <th>关注人数</th>
      <th>交互人数</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>

</table>

<br>

